/* COLOR PALETTE */

:root {
    --blue:#2C3E50;
    --lightblue:#3A546D;
    --green:#1ABC9C;
}

/* UTILITY CLASS */

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-lightblue {
    background-color: var(--lightblue);
}

.text-green {
    color: var(--green);
}

img {
    width: 100%;
}
  
.star.active::before, .star.active::after {
content: "";
height: 3px;
width: 50px;
background-color: currentColor;
display: inline-block;
vertical-align: middle;
}

/* DEBUG */

.debug [class^="container"] {
    border: 1px aqua solid;
    padding: 20px;
}
.debug .row {
    border: 1px blue solid;
    padding: 20px;
}
.debug [class^="col"] {
    border: 1px cadetblue solid;
    padding: 20px;
}

.debug .card {
    border: 1px darkgoldenrod solid;
    padding: 20px;
}

.debug .immaginehero {
    border: 1px darkblue solid;
    padding: 20px;
}